In [105]:
import pandas as pd

filename = 'jensen_comments.csv'
df = pd.read_csv(filename)
df.head()

,gen_id,username,body,points,children,parents,date,date_retrieved,video_name,video_number,video_upload_time
0,7fadff0cb1c60a16b262bf21b6b7e8bbcdfb73cb1c0706...,bart,"WE ZIJN ER BIJNA, WE ZIJN ER BIJNA, MAAR NOG N...",0,NaN,NaN,2021-06-18 22:48:08,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
1,0b4f25bab3fa41470e586b2e3d017fe208ca29d5fce609...,Jet,"Over medisch manipulatie gesproken , deze kan ...",0,NaN,NaN,2021-06-18 22:43:16,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
2,3e16f39da717b9bbc8acb40d28f93356986157a9b35569...,Petruss.Aureus,"Ohh ja Robert, tijd, geschiedenis, hoort tot e...",0,NaN,NaN,2021-06-18 22:42:08,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
3,2040b1137f54076443f06629e9d5e4ba2ad5dde012bb4c...,Elise,Waarom mensen het niet zien? Antwoordt van mij...,0,NaN,NaN,2021-06-18 22:40:02,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
4,47a3c8ea3f22e7927edf0596e95f32f759e6c31951ee00...,Antonio Collenzo,Jezus en zijn apostelen zijn nog steeds in de ...,0,NaN,NaN,2021-06-18 22:39:28,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51

In [103]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head()

,gen_id,username,body,points,children,parents,date,date_retrieved,video_name,video_number,video_upload_time
0,7fadff0cb1c60a16b262bf21b6b7e8bbcdfb73cb1c0706...,bart,"WE ZIJN ER BIJNA, WE ZIJN ER BIJNA, MAAR NOG N...",0,NaN,NaN,2021-06-18 22:48:08,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
1,0b4f25bab3fa41470e586b2e3d017fe208ca29d5fce609...,Jet,"Over medisch manipulatie gesproken , deze kan ...",0,NaN,NaN,2021-06-18 22:43:16,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
2,3e16f39da717b9bbc8acb40d28f93356986157a9b35569...,Petruss.Aureus,"Ohh ja Robert, tijd, geschiedenis, hoort tot e...",0,NaN,NaN,2021-06-18 22:42:08,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
3,2040b1137f54076443f06629e9d5e4ba2ad5dde012bb4c...,Elise,Waarom mensen het niet zien? Antwoordt van mij...,0,NaN,NaN,2021-06-18 22:40:02,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
4,47a3c8ea3f22e7927edf0596e95f32f759e6c31951ee00...,Antonio Collenzo,Jezus en zijn apostelen zijn nog steeds in de ...,0,NaN,NaN,2021-06-18 22:39:28,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51

In [104]:
df.to_csv('jensen_comments.csv', index= False)

In [78]:
from datetime import datetime, timedelta

def convert_cmt_date(strdate, add_hour = True):
    exsplit = ex.split()
    spltime = ' '.join(exsplit[1:-5])
    format_time = datetime.strptime(spltime, '%b %d %Y %H:%M:%S')
    if add_hour:
        time_change = timedelta(hours=1)
        return format_time + time_change
    else:
        return format_time

def convert_ret_date(strdate, add_hour = False):
    exsplit = ex.split()
    newtime = ' '.join(exsplit[1:-5])
    format_time = datetime.strptime(newtime, '%Y %m %d %H:%M:%S')
    if add_hour:
        time_change = timedelta(hours=1)
        return format_time + time_change
    else:
        return format_time

In [72]:
ex = cmt_time_list[4]
convert_cmt_date(ex)

Jun 18 2021 21:39:28

datetime.datetime(2021, 6, 18, 22, 39, 28)

In [75]:
print(cmt_time_list[:5])

['Fri Jun 18 2021 21:48:08 GMT+0200 (Central European Summer Time)', 'Fri Jun 18 2021 21:43:16 GMT+0200 (Central European Summer Time)', 'Fri Jun 18 2021 21:42:08 GMT+0200 (Central European Summer Time)', 'Fri Jun 18 2021 21:40:02 GMT+0200 (Central European Summer Time)', 'Fri Jun 18 2021 21:39:28 GMT+0200 (Central European Summer Time)']

In [81]:
cmt_time_list = df.date.to_list()
newtime = []
for cmt in cmt_time_list:
    exsplit = cmt.split()
    spltime = ' '.join(exsplit[1:-5])
    format_time = datetime.strptime(spltime, '%b %d %Y %H:%M:%S')
    time_change = timedelta(hours=1)
    newtime.append(format_time + time_change)
print(newtime[:5])

[datetime.datetime(2021, 6, 18, 22, 48, 8), datetime.datetime(2021, 6, 18, 22, 43, 16), datetime.datetime(2021, 6, 18, 22, 42, 8), datetime.datetime(2021, 6, 18, 22, 40, 2), datetime.datetime(2021, 6, 18, 22, 39, 28)]

In [82]:
df['date'] = newtime

In [85]:
df.head()

,Unnamed: 0,Unnamed: 0.1,gen_id,username,body,points,children,parents,date,date_retrieved,video_name,video_number,video_upload_time
0,0,0,7fadff0cb1c60a16b262bf21b6b7e8bbcdfb73cb1c0706...,bart,"WE ZIJN ER BIJNA, WE ZIJN ER BIJNA, MAAR NOG N...",0,NaN,NaN,2021-06-18 22:48:08,2021-06-18 22:09:14.148316,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18T13:35:51.834+02:00
1,1,1,0b4f25bab3fa41470e586b2e3d017fe208ca29d5fce609...,Jet,"Over medisch manipulatie gesproken , deze kan ...",0,NaN,NaN,2021-06-18 22:43:16,2021-06-18 22:09:14.148316,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18T13:35:51.834+02:00
2,2,2,3e16f39da717b9bbc8acb40d28f93356986157a9b35569...,Petruss.Aureus,"Ohh ja Robert, tijd, geschiedenis, hoort tot e...",0,NaN,NaN,2021-06-18 22:42:08,2021-06-18 22:09:14.148316,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18T13:35:51.834+02:00
3,3,3,2040b1137f54076443f06629e9d5e4ba2ad5dde012bb4c...,Elise,Waarom mensen het niet zien? Antwoordt van mij...,0,NaN,NaN,2021-06-18 22:40:02,2021-06-18 22:09:14.148316,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18T13:35:51.834+02:00
4,4,4,47a3c8ea3f22e7927edf0596e95f32f759e6c31951ee00...,Antonio Collenzo,Jezus en zijn apostelen zijn nog steeds in de ...,0,NaN,NaN,2021-06-18 22:39:28,2021-06-18 22:09:14.148316,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18T13:35:51.834+02:00

In [87]:
df.tail()

,Unnamed: 0,Unnamed: 0.1,gen_id,username,body,points,children,parents,date,date_retrieved,video_name,video_number,video_upload_time
7557,7557,7557,1e041638e48a5503947c5896e39a02f6e2653a0bcf0282...,Chris,Nou ik ken jammergenoeg juist bijna niemand di...,1,NaN,NaN,2021-03-18 11:28:26,2021-06-18 22:19:24.617159,ONTMASKER JEZELF - DE JENSEN SHOW,315,2021-03-11T17:53:15.320+01:00
7558,7558,7558,77a89672b899c447e1828b9c02a9a4d9ddebe743ab7773...,Anonymous,Nog een voorspelling van Jensen Baba die is ui...,1,NaN,NaN,2021-03-18 02:21:00,2021-06-18 22:19:24.617159,ONTMASKER JEZELF - DE JENSEN SHOW,315,2021-03-11T17:53:15.320+01:00
7559,7559,7559,8b1e7c18376dc2e1720f9333260f097a5abf0485a77098...,Anonymous,❤️,0,NaN,NaN,2021-03-18 02:16:55,2021-06-18 22:19:24.617159,ONTMASKER JEZELF - DE JENSEN SHOW,315,2021-03-11T17:53:15.320+01:00
7560,7560,7560,a53abd3788aec3431a4b1f7fb5008d38077c09f5ba4c9e...,Cindy.,"Als 1mondmasker niet werkt, draag je er gewoon...",0,NaN,NaN,2021-03-22 20:42:01,2021-06-18 22:20:58.900657,ALLEEN NORMAAL IS NORMAAL - DE JENSEN SHOW,305,2021-02-19T22:01:25.523+01:00
7561,7561,7561,cae0aec0ad748a4b02424e78afcfea910a01331bef82c2...,Anonymous,Het is niet omdat je een universitaire opleidi...,0,NaN,NaN,2021-03-17 22:02:48,2021-06-18 22:22:46.760091,OPRUIEN - DE JENSEN SHOW,293,2021-01-28T19:02:08.274+01:00

In [86]:
ret_time_list = df.date_retrieved.to_list()
newformat_time = [ex.split('.')[0] for ex in ret_time_list]
print(newformat_time[-5:])

['2021-06-18 22:19:24', '2021-06-18 22:19:24', '2021-06-18 22:19:24', '2021-06-18 22:20:58', '2021-06-18 22:22:46']

In [88]:
indatetime = [datetime.strptime(tryout, '%Y-%m-%d %H:%M:%S') for tryout in newformat_time]
print(indatetime[-5:])

[datetime.datetime(2021, 6, 18, 22, 19, 24), datetime.datetime(2021, 6, 18, 22, 19, 24), datetime.datetime(2021, 6, 18, 22, 19, 24), datetime.datetime(2021, 6, 18, 22, 20, 58), datetime.datetime(2021, 6, 18, 22, 22, 46)]

In [90]:
df['date_retrieved'] = indatetime
df.tail()

,Unnamed: 0,Unnamed: 0.1,gen_id,username,body,points,children,parents,date,date_retrieved,video_name,video_number,video_upload_time
7557,7557,7557,1e041638e48a5503947c5896e39a02f6e2653a0bcf0282...,Chris,Nou ik ken jammergenoeg juist bijna niemand di...,1,NaN,NaN,2021-03-18 11:28:26,2021-06-18 22:19:24,ONTMASKER JEZELF - DE JENSEN SHOW,315,2021-03-11T17:53:15.320+01:00
7558,7558,7558,77a89672b899c447e1828b9c02a9a4d9ddebe743ab7773...,Anonymous,Nog een voorspelling van Jensen Baba die is ui...,1,NaN,NaN,2021-03-18 02:21:00,2021-06-18 22:19:24,ONTMASKER JEZELF - DE JENSEN SHOW,315,2021-03-11T17:53:15.320+01:00
7559,7559,7559,8b1e7c18376dc2e1720f9333260f097a5abf0485a77098...,Anonymous,❤️,0,NaN,NaN,2021-03-18 02:16:55,2021-06-18 22:19:24,ONTMASKER JEZELF - DE JENSEN SHOW,315,2021-03-11T17:53:15.320+01:00
7560,7560,7560,a53abd3788aec3431a4b1f7fb5008d38077c09f5ba4c9e...,Cindy.,"Als 1mondmasker niet werkt, draag je er gewoon...",0,NaN,NaN,2021-03-22 20:42:01,2021-06-18 22:20:58,ALLEEN NORMAAL IS NORMAAL - DE JENSEN SHOW,305,2021-02-19T22:01:25.523+01:00
7561,7561,7561,cae0aec0ad748a4b02424e78afcfea910a01331bef82c2...,Anonymous,Het is niet omdat je een universitaire opleidi...,0,NaN,NaN,2021-03-17 22:02:48,2021-06-18 22:22:46,OPRUIEN - DE JENSEN SHOW,293,2021-01-28T19:02:08.274+01:00

In [47]:
cmt_time_list = df.video_upload_time.to_list()
for ex in cmt_time_list[15:20]:
    print(ex)
    print(ex.split('.')[0].replace('T', ' '))

2021-06-18T13:35:51.834+02:00
2021-06-18 13:35:51
2021-06-18T13:35:51.834+02:00
2021-06-18 13:35:51
2021-06-18T13:35:51.834+02:00
2021-06-18 13:35:51
2021-06-18T13:35:51.834+02:00
2021-06-18 13:35:51
2021-06-18T13:35:51.834+02:00
2021-06-18 13:35:51

In [54]:
type(df.date_retrieved.to_list()[0])

pandas._libs.tslibs.timestamps.Timestamp

In [91]:
vid_time = df.video_upload_time.to_list()
small_s = [ex.split('.')[0].replace('T', ' ') for ex in vid_time]
print(small_s[:5])
indat = [datetime.strptime(tryout, '%Y-%m-%d %H:%M:%S') for tryout in small_s]
time_change = timedelta(hours=1)
plusthour = [t+time_change for t in indat]
print(plusthour[:5])

['2021-06-18 13:35:51', '2021-06-18 13:35:51', '2021-06-18 13:35:51', '2021-06-18 13:35:51', '2021-06-18 13:35:51']
[datetime.datetime(2021, 6, 18, 14, 35, 51), datetime.datetime(2021, 6, 18, 14, 35, 51), datetime.datetime(2021, 6, 18, 14, 35, 51), datetime.datetime(2021, 6, 18, 14, 35, 51), datetime.datetime(2021, 6, 18, 14, 35, 51)]

In [92]:
indat[:5]

[datetime.datetime(2021, 6, 18, 13, 35, 51),
 datetime.datetime(2021, 6, 18, 13, 35, 51),
 datetime.datetime(2021, 6, 18, 13, 35, 51),
 datetime.datetime(2021, 6, 18, 13, 35, 51),
 datetime.datetime(2021, 6, 18, 13, 35, 51)]

In [93]:
df['video_upload_time'] = plusthour
df.head()

,Unnamed: 0,Unnamed: 0.1,gen_id,username,body,points,children,parents,date,date_retrieved,video_name,video_number,video_upload_time
0,0,0,7fadff0cb1c60a16b262bf21b6b7e8bbcdfb73cb1c0706...,bart,"WE ZIJN ER BIJNA, WE ZIJN ER BIJNA, MAAR NOG N...",0,NaN,NaN,2021-06-18 22:48:08,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
1,1,1,0b4f25bab3fa41470e586b2e3d017fe208ca29d5fce609...,Jet,"Over medisch manipulatie gesproken , deze kan ...",0,NaN,NaN,2021-06-18 22:43:16,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
2,2,2,3e16f39da717b9bbc8acb40d28f93356986157a9b35569...,Petruss.Aureus,"Ohh ja Robert, tijd, geschiedenis, hoort tot e...",0,NaN,NaN,2021-06-18 22:42:08,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
3,3,3,2040b1137f54076443f06629e9d5e4ba2ad5dde012bb4c...,Elise,Waarom mensen het niet zien? Antwoordt van mij...,0,NaN,NaN,2021-06-18 22:40:02,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
4,4,4,47a3c8ea3f22e7927edf0596e95f32f759e6c31951ee00...,Antonio Collenzo,Jezus en zijn apostelen zijn nog steeds in de ...,0,NaN,NaN,2021-06-18 22:39:28,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51

In [94]:
df.to_csv('jensen_comments')

In [96]:
df = df.drop(df['Unnamed: 0'])

In [97]:
df.head()

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, gen_id, username, body, points, children, parents, date, date_retrieved, video_name, video_number, video_upload_time]
Index: []