In [1]:
import pandas as pd

filename = 'jensen_comments.csv'
df = pd.read_csv(filename)
df.head()

,gen_id,username,body,points,children,parents,date,date_retrieved,video_name,video_number,video_upload_time
0,7fadff0cb1c60a16b262bf21b6b7e8bbcdfb73cb1c0706...,bart,"WE ZIJN ER BIJNA, WE ZIJN ER BIJNA, MAAR NOG N...",0,NaN,NaN,2021-06-18 22:48:08,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
1,0b4f25bab3fa41470e586b2e3d017fe208ca29d5fce609...,Jet,"Over medisch manipulatie gesproken , deze kan ...",0,NaN,NaN,2021-06-18 22:43:16,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
2,3e16f39da717b9bbc8acb40d28f93356986157a9b35569...,Petruss.Aureus,"Ohh ja Robert, tijd, geschiedenis, hoort tot e...",0,NaN,NaN,2021-06-18 22:42:08,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
3,2040b1137f54076443f06629e9d5e4ba2ad5dde012bb4c...,Elise,Waarom mensen het niet zien? Antwoordt van mij...,0,NaN,NaN,2021-06-18 22:40:02,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51
4,47a3c8ea3f22e7927edf0596e95f32f759e6c31951ee00...,Antonio Collenzo,Jezus en zijn apostelen zijn nog steeds in de ...,0,NaN,NaN,2021-06-18 22:39:28,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51

In [54]:
point_list = df.points.to_list()
highest_points_df = df[df['points'] == max(point_list)]
lowest_points_df = df[df['points'] == min(point_list)]
lowest_points = lowest_points_df.points.to_list()[0]
lowest_parent_id = lowest_points_df.parents.to_list()[0]
lowest_parent_df = df[df['gen_id'] == lowest_parent_id]
lowest_parent_text = lowest_parent_df.body.to_list()[0]
lowest_points_text = lowest_points_df.body.to_list()[0]
lowest_vid_name = lowest_parent_df.video_name.to_list()[0]
lowest_vid_num = lowest_parent_df.video_number.to_list()[0]

print("From video {}, with name: \n{}\n".format(lowest_vid_num,lowest_vid_name))
print("Original Comment: \n{} \n\nReply with lowest ({}) amount of points: \n{}".format(lowest_parent_text,
                                                                                       lowest_points,
                                                                                       lowest_points_text))

From video 346, with name:
GAST: ADAM CURRY - DEEL 2 - DE JENSEN SHOW

Original Comment:
Wellicht op het midden van de dag even een telefoontje plegen met iemand aan de andere kant van de aarde? Als het daar midden in de nacht en donker is, dan is de aarde waarschijnlijk toch gewoon rond. ðŸ¤£

Reply with lowest (-33) amount of points:
Freija: de zon is een lokaal hemellichaam en staat geen 93 000 000 km van de aarde !<a href="https://www.youtube.com/watch?v=XLyLVzWZUpc" rel="nofollow">https://www.youtube.com/watch?v=XLyLVzWZUpc</a>

In [14]:
highest_points_points = highest_points_df.points.to_list()[0]
highest_points_body = highest_points_df.body.to_list()[0]
highest_vid_name = highest_points_df.video_name.to_list()[0]
highest_vid_num = highest_points_df.video_number.to_list()[0]
print("From video {}, with name: \n{}\n".format(highest_vid_num,highest_vid_name))
print("Comment with most ({}) points: \n{}".format(highest_points_points,highest_points_body))

From video 346, with name:
GAST: ADAM CURRY - DEEL 2 - DE JENSEN SHOW

Comment with most (33) points:
robert, ga eens aub een beetje modereren, bijna alle reacties hieronder zijn van platte aarde gekkies of giga jodenhaters.de comment-sectie werkt met dergelijke reacties niet in jouw voordeel als je nog langer serieus genomen wilt worden.......

In [55]:
print('Sum of all points: {}'.format(sum(point_list)))

Sum of all points: 3999

# Closer Look at users

In [39]:
from collections import Counter
user_list = df.username.to_list()
unique_user_list = df.username.unique()
print("Total of {} unqiue commenters\n".format(len(unique_user_list)))
user_count = Counter(user_list)
top10 = user_count.most_common(10)
print("Top 10 most common users:")
tot = 0
for user, n in top10:
    print("{} with {} comments".format(user,n))
    tot += n
print("Responsible for {} comments, which is {}% of total comments".format(tot, tot / len(user_list)))

Total of 885 unqiue commenters

Top 10 most common users:
Sherman-Dozer with 913 comments
Jet with 518 comments
wilhelmina  with 319 comments
Dan James with 198 comments
defenz with 184 comments
[deleted] with 154 comments
-- with 89 comments
Guido with 81 comments
Anonymous with 81 comments
klojo pendejo with 68 comments
Responsible for 2605 comments, which is 0.34448558582385613% of total comments

In [76]:
MIN_COMMENTS = 5
WITH_TRESHOLD = True

mean_df_username = df.groupby(['username']).mean()
count_df_vid = df.groupby(['video_number']).count()
name_list = mean_df_username.index.to_list()
comm_per_name = [user_count[n] for n in name_list]
mean_df_username['tot_comments'] = comm_per_name
if WITH_TRESHOLD:
    mean_df_username = mean_df_username[mean_df_username['tot_comments'] >= MIN_COMMENTS]
mean_df_sorted = mean_df_username.sort_values(['points'])
top10 = mean_df_sorted[-10:]
top10_names = top10.index.to_list()
top10_points = top10.points.to_list()
top10_names.reverse()
top10_points.reverse()
print("Top 10 users with the most average points:\n")
for i,name in enumerate(top10_names):
    print("{} with {} avarage points over {} total comments".format(name,top10_points[i],
                                                                    user_count[name]))
    
bottom10 = mean_df_sorted[:10]
bottom10_names = bottom10.index.to_list()
bottom10_points = bottom10.points.to_list()
print("\nTop 10 users with the least average points:\n")
for i,name in enumerate(bottom10_names):
    print("{} with {} avarage points over {} total comments".format(name,bottom10_points[i],
                                                                    user_count[name]))

Top 10 users with the most average points:

Lucien with 6.0 avarage points over 5 total comments
jo with 5.625 avarage points over 8 total comments
Henk Klavers with 4.666666666666667 avarage points over 6 total comments
Leon van den Berg with 4.4 avarage points over 5 total comments
Brenden with 4.222222222222222 avarage points over 9 total comments
Sjavanna Wandela with 3.8333333333333335 avarage points over 6 total comments
Trude Vinke with 3.5 avarage points over 22 total comments
A3 with 3.4 avarage points over 5 total comments
Hugo with 3.3333333333333335 avarage points over 12 total comments
Wim Lijbrink with 3.302325581395349 avarage points over 43 total comments

Top 10 users with the least average points:

B.Mic with -19.8 avarage points over 5 total comments
Ali Ayan-2 with -8.777777777777779 avarage points over 18 total comments
sunshinedotcom with -7.023255813953488 avarage points over 43 total comments
Jan van Excel with -7.0 avarage points over 5 total comments
Adriaan with -6.0 avarage points over 5 total comments
UnTrustable with -5.423076923076923 avarage points over 26 total comments
Robbert with -5.333333333333333 avarage points over 12 total comments
XingFu with -3.764705882352941 avarage points over 34 total comments
Segrieeadreset with -3.3076923076923075 avarage points over 13 total comments
[deleted] with -3.0714285714285716 avarage points over 154 total comments

In [65]:
top10.columns

Index(['points', 'video_number'], dtype='object')

In [16]:
import re

exstr = "ahdfasdfkladjioafjsdaa"
ex2 = "fkajdkl<a>adkfjasldkfjfkda</a>adad"
ex1res = re.search('<a>(.*?)</a>', exstr)
ex2res = re.search('<a>(.*?)</a>', ex2)
if ex1res:
    print(ex1res.group(1))
if ex2res:
    print(ex2res.group(1))

adkfjasldkfjfkda

In [49]:
def extract_links_from_comments(comment_list):
    link_list = []
    n = 0
    for comment in comment_list:
        srch = re.findall('href="(.*?)"', comment)
        if srch:
            to_str = ' '.join(srch)
            link_list.append(to_str)
            n+= len(srch)
        else:
            link_list.append('')
    print('total links found: {}'.format(n))
    return link_list

link_list = extract_links_from_comments(df.body.to_list())

total links found: 1831

In [50]:
df_with_links = df.copy()
df_with_links['links'] = link_list
df_only_links = df_with_links[df_with_links['links'] != '']
df_only_links.head()

,gen_id,username,body,points,children,parents,date,date_retrieved,video_name,video_number,video_upload_time,links
15,76a5eaf3b826faf1af6bd266f7db9a165760ddca22afe5...,Miauuw,"<a href=""https://narcismegids.com/pathologisch...",1,;e0c211e74fb134e48ea9e8e3ad84b49a6bdfa64c61e2f...,NaN,2021-06-18 21:39:59,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51,https://narcismegids.com/pathologisch-liegen/
24,1721c967d17a47207e740e51c6bb0563a50f63f6af11a9...,Harm Bos,Deze fam is gek die voert zijn kind onjuist op...,1,;c05806a1be2444f1ba0ebc24f92ab996915c27986f4f9...,NaN,2021-06-18 20:21:55,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51,https://youtu.be/d4Lq1vzBa9g
25,c05806a1be2444f1ba0ebc24f92ab996915c27986f4f9c...,Sherman-Dozer,Bos een flinke tijd terug heb ik iets van deze...,0,NaN,1721c967d17a47207e740e51c6bb0563a50f63f6af11a9...,2021-06-18 22:31:05,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51,https://www.bitchute.com/video/1xKOnp6WPxoV/ h...
31,7b8fc064a892de74ad99dd97bbde9b9acc4d4ce475e3b8...,Sola Scriptura,Te uwer informatie: Emeritus Hoogleraar Prof. ...,0,NaN,NaN,2021-06-18 19:35:33,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51,https://www.xandernieuws.net/algemeen/professo...
49,ed83eac8dd275216c0e9cb7f780fad01a3e5ed586982b9...,Sherman-Dozer,Hoi. Het hypocriete Westen en Kaddafi <a href=...,2,;65257882660f4ce7d68a7b8dd64c311f17438278fd7fa...,NaN,2021-06-18 18:02:35,2021-06-18 22:09:14,ONEINDIGE DOMHEID - DE JENSEN SHOW,356,2021-06-18 14:35:51,https://odysee.com/@survivalisme-survie:a/affa...

In [40]:
users_only_links = df_only_links.username.to_list()
users_only_links_unique = df_only_links.username.unique()
print("Total of {} unique users that post links".format(len(users_only_links_unique)))
only_links_counts = Counter(users_only_links)
top10_only_links = only_links_counts.most_common(10)
print("Top 10 most common users that post links:")
tot = 0
for user, n in top10_only_links:
    print("{} with {} comments".format(user,n))
    tot += n
print("Responsible for {} comments, which is {}% of total links".format(tot, tot / len(user_list)))

Total of 248 unique users that post links
Top 10 most common users that post links:
Sherman-Dozer with 313 comments
wilhelmina  with 279 comments
-- with 78 comments
Cor with 46 comments
Ad S. with 33 comments
Check  with 28 comments
Koning Willen III with 26 comments
Jet with 26 comments
Dan James with 22 comments
[deleted] with 19 comments
Responsible for 870 comments, which is 0.11504892885480032% of total links